<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
 <databases>
      <database id="master" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <Engines.DataEngine.Commands.AddFromTemplatePrototype>
          <obj type="Sitecore.ItemBucket.Kernel.Commands.AddFromTemplateCommand, Sitecore.ItemBucket.Kernel" />
        </Engines.DataEngine.Commands.AddFromTemplatePrototype>
        <!--<cacheSizes hint="setting">
          <data>100MB</data>
          <items>100MB</items>
          <paths>4MB</paths>
          <standardValues>4MB</standardValues>
        </cacheSizes>-->
      </database>
      <!--<database id="web" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <cacheSizes hint="setting">
          <data>20MB</data>
          <items>20MB</items>
          <paths>4MB</paths>
          <standardValues>4MB</standardValues>
        </cacheSizes>
      </database>-->
    </databases>
  </sitecore> 
</configuration>


