/*
Blog Style Overrides
*/

/*
Blog Styles
*/

UL.BlogPostList
{
    margin: 20px 0 0 0;
    padding: 0px;
    list-style-type: none;
}

.BlogPostArea
{
    
    margin: 0px 19px 20px 19px;
   border: 1px solid rgba(225, 225, 225, .25); /* #e1e1e1; */
    padding: 0 0 20px 106px;
    min-height: 72px;
   
   -moz-border-radius: 5px;


    border-radius: 5px;
-webkit-border-radius: 5px;

    box-shadow: 1px 1px 8px #FFF;
    -moz-box-shadow: 1px 1px 8px #FFF;
    -webkit-box-shadow: 1px 1px 8px #FFF;

    list-style: none outside none;
}

.quickactions {
   
height: 25px;
width: 100%;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
margin-top: 8px;
margin-left: 0px;

margin-bottom: -20px;
background-color: rgba(165, 165, 165, 0.1);
}

.quickactions span
{
    float: left;
   
    padding-top:5px;
    padding-right: 5px;
    padding-left: 5px;
}

.BlogPostArea:hover
{
    margin: 0px 19px 20px 19px;
    border: 1px solid rgba(165, 165, 165, .6); /* #e1e1e1; */
    padding: 0 0 20px 106px;
    min-height: 72px;
    background-color: rgba(165, 165, 165, 0.1);
 
-moz-border-radius: 5px;


    border-radius: 5px;
-webkit-border-radius: 5px;


 
    box-shadow: 1px 1px 8px #EEE;
    -moz-box-shadow: 1px 1px 8px #EEE;
    -webkit-box-shadow: 1px 1px 8px #EEE;
    cursor: pointer;
    list-style: none outside none;
}

.BlogPostArea.External
{
    background-image: url(/Images/external.png);
}

.BlogPostArea.None
{
    background-image: none;
    padding-left: 0;
}

.BlogPostHeader
{
    font-size: 150%;
    padding: 0;
    margin-top: -60px;
}

.BlogRating
{
    width: 80px;
    height: 80px;
    margin: 5px 10px 0 0;
    background-color: #cccccc;
    vertical-align: top;
    text-align: center;
    padding: 8px 2px 2px 2px;
    background-image: url(/Images/log_comment_background.gif);
    line-height: 20px;
    color: #666666;
}

.BlogRating a:link, .BlogRating a:visited, .BlogRating a:active, .BlogRating a:hover
{
    color: #666666;
    text-decoration: none;
}

.BlogPostContent
{
  
    font-size: 100%;
}

.BlogPostFooter
{
    margin: 8px 0 0 0;
    color: #000;
    font-size: 90%;
}

/*
Blog List Columns
*/

.BlogBlogNameColumn
{
    width: 25%;
}

.BlogAuthorColumn
{
    width: 14%;
}

.BlogLastPostColumn
{
    width: 25%;
}

.BlogPostsColumn
{
    text-align: center;
    width: 9%;
}

.BlogArticlesColumn
{
    text-align: center;
    width: 9%;
}

.BlogCommentsColumn
{
    text-align: center;
    width: 9%;
}

.BlogTrackbacksColumn
{
    text-align: center;
    width: 9%;
}

/* Links */

UL.BlogLinkCategoryLinkList
{
    padding: 0;
    margin: 0 0 0 24px;
    list-style-type: square;
}

UL.BlogLinkCategoryLinkList li
{
    padding-top: 4px;
}

UL.BlogLinkCategoryLinkList li a
{
    font-weight: bold;
}

.BlogLinkCategoryArea
{
    padding: 4px;
}

.BlogSubscriptionItem
{
    margin-bottom: 3px;
}
.BlogPostViews
{
    width: 47px;
    height: 45px;
    margin-top: 7px;
    margin-left: -91px;
    text-align: center;
    padding: 10px 0px 10px 3px;
/*    background-color: #505050;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 8px #aaaaaa;
    -moz-box-shadow: 1px 1px 8px #aaaaaa;
    -webkit-box-shadow: 1px 1px 8px #aaaaaa; */
}
.BlogPostList img
{
    vertical-align: middle;
    height: 40px;
}
.BlogPostList a
{
    text-decoration: none;
}
.BlogPostList .Left
{
    width: 33%;
    float: left;
}
.BlogPostList .Right
{
    width: 34%;
    float: right;
}
