<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sa;password=sc;Data Source=(local);Database=withchaoSitecore_Core"/>
  <add name="master" connectionString="user id=sa;password=sc;Data Source=(local);Database=cleanbuckSitecore_Web"/>
  <add name="web" connectionString="user id=sa;password=sc;Data Source=(local);Database=cleanbuckSitecore_Web"/>
  <add name="analytics" connectionString="user id=sa;password=sc;Data Source=(local);Database=Sitecore_Analytics"/>
</connectionStrings>
